@font-face {
  font-family: "EvilEmpire";   
  src: local("EvilEmpire"),
    url("./fonts/EvilEmpire.otf") format("opentype");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EvilEmpire";   
 scroll-behavior: smooth;


}


body {
 overflow-x: hidden;
 background-color: black;
}

.parent{
width: 100%;
}

.child{
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
}


.header{
  background-color: #090A14;
  height: 110px;
  position: relative;
padding-left: 50px;
padding-right: 50px;

}


.headerC{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.aSide{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.logo{
border-right: 1px solid rgba(192, 192, 192, 0.404);
height: 100%;
display: flex;
align-items: center;
padding-right: 50px;
justify-content: center;

}
.logo img{
  width: 70px;
  cursor: pointer;
}
.social a svg{
  width: 20px;
  height: 20px;
}

.social a svg path{
  transition: 0.3s;

}
nav{
display:flex;
align-items: center;
justify-content: space-between;
width: 100%;
border-top: 1px solid rgba(192, 192, 192, 0.404);
display: flex;
align-items: center;
height: 70%;
justify-content: space-between;

}

  .navLinks{
   
    padding-left: 30px;
padding-top: 15px;
display: flex;
align-items: center;
justify-content: flex-start;
gap: 50px;

  }

  




.navLinks a{
  text-decoration: none;
color: white;
opacity: 0.7;
transition: 0.3s;
font-size: 20px;

}
.navLinks a:hover{
  color: #ff7a21;
  opacity: 1;
}
.activeNavLink{
  position: relative;
  opacity: 1 !important;
  z-index: 1;

}


.activeNavLink .topnavbar{
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
 
}
.activeNavLink:hover{
  color: white !important;
}

.navBoxShadow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;

  z-index: -1;
  opacity: 0.4;
}

.social{
  flex-direction: row;
  display: flex;
  gap: 10px;
  height: 100% !important;
  align-items: center;
  justify-content: center;
  padding-top: 15px;

}
.social a{
  background-color: #000000;
  width: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px !important;
  border-radius: 50%;
  border:1px solid rgba(192, 192, 192, 0.404);
  text-decoration: none;
  color:white;
  transition: 0.3s;
}

.social a:hover{
  color: #ff7a21;
  box-shadow: 0px 0px 44px 5px rgba(255,122,33,0.76);
-webkit-box-shadow: 0px 0px 44px 5px rgba(255,122,33,0.76);
-moz-box-shadow: 0px 0px 44px 5px rgba(255,122,33,0.76);
}



.social a:hover svg path{
  fill: #ff7a21 !important;
}


.lll{
  height: 100%;
  position: absolute;
  left: -5px;
  top: 0;
}

.rrr{
  height: 100%;
  position: absolute;
  right: -5px;
  top: 0;
}









/* first section */
.home{
  height: 900px;
  position: relative;
}

.home .bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}



.homeC{
  z-index: 2;
}

.homeC h1{
  color: white;
  font-size: 40px;
  max-width: 800px;
  line-height: 2;
  z-index: 20px;
  letter-spacing: 4px;
  margin-left: 50px;
  padding-top: 160px;

}







/* 2nd section */



.information{
  background-color: #0D0E1B;
  padding-top: 70px;
  position: relative;
  padding-bottom: 40px;
}

.information .title{
  margin-bottom: 110px;
}


.informationC{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.inText{
  max-width: 600px;
  width: 100%;
  z-index: 1;
}




.inText p{
  text-align: center;
  color: white;
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: 4px;

}

.inText p span{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom:25px;
}

.inText p span img{
  width: 80px;
  margin-top: 10px;
}




.transparent{
  position: absolute;
  top: 0;
  left: 0;
  width: 45vw;
}


.topTexture{
  width: 100%;
  position: absolute;
  top:-20px;
  left: 0;
height: 20px;
}


.bottomTexture{
  width: 100%;
  position: absolute;
  bottom:-20px;
  left: 0;
height: 20px;
}







.collection{
  background-color: #000000;
  padding-top: 60px;
  padding-bottom: 60px;
}

.title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.title h3{
  font-size: 55px;
  letter-spacing: 7px;
  color: white;

}

.title img{
  height: 6px;
  width: 200px;
  margin-top: 10px;
}


.collectionCont{
  width:600px;
  height:600px;
  border: 12px solid #0D0E1B;
  border-radius: 10px;
  margin:0 auto;
}

.collectionCont img{
  width: 100%;
  height: 100%;
}



.roadmap{
  background-color: #0D0E1B;;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  margin-bottom: 200px;

}




.bigTextCont{
  font-size:70px;
  color: white;
  letter-spacing: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
}


.concept p{
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: 4px;
}




.team{
  padding-bottom: 120px;
margin-bottom: 0 !important;
}

.team .title{
  margin-bottom: 100px;

}
.grid{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.grid1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.gImgCont{
  height: 350px;
  width: 350px;
  background-color:black;
  border-radius: 5px;
  margin-bottom: 50px;
}

.gImgCont img{
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-top: 20px;
}


.grid1 p{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;

}

.grid1 p span:nth-child(1){
  color: white;
  font-size: 26px !important;
  opacity: 1 !important;
}




.grid1 p span:last-child{
  color: white !important;
  opacity: 0.7;
  font-size: 17px;
}













.mint{
  margin-top: 100px;
  padding-bottom: 100px;
}

.mintInnerCont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.mintInnerCont img{
  margin-top: 30px;
  width: 700px;
}

.mintInnerCont h4{
color: white;
font-size: 36px;
letter-spacing: 4px;
}



footer{
  margin-bottom: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;

}

footer .social{
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}
footer .social a img{
  width: 40px;
}








/* responsiveness */

@media (max-width:1038px){
  .navLinks{
    gap: 30px;
  }
}

.burger{
  cursor: pointer;
  display: none;
}

.burger i{
  color: white;
  font-size: 35px;
}
.close{
  display: none;
  cursor: pointer;
}

.close i{
  color: white;
  font-size: 30px;
}
@media (max-width:964px){

.burger{
  display: flex;
}

.aSide{
  justify-content: space-between;
}


  nav{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: auto;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #090A14;
    margin-top: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    z-index: 30;
    transform: translateY(-100%);
    transition: 0.3s ease-in-out;
  }


.close{
  display: flex;
  position: absolute;
  top: 30px;
  right: 30px;
}

  .navLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .activeNavLink{
    margin-top: 0;
    padding-top: 0;
  }
  .activeNavLink img{
    display: none;
  }

  nav .social{
    margin-top: 0;
    padding-top: 0;
    margin-top: 20px;
    padding-left: 30px;
  }
}
.navbarActivated{
  transform: translateY(0) !important;
}








@media (max-width:1100px){
  .header{
    padding-left: 0;
    padding-right: 0;
  }
  .homeC h1{
    color: white;
    font-size: 40px;
    max-width: 800px;
    line-height: 2;
    z-index: 20px;
    letter-spacing: 4px;
    margin-left: 0;
    padding-top: 130px !important;
  
  }
  .lll{
    display: none;
  }

  .rrr{
    display: none;
  }
}






@media (max-width:410px){
  .homeC h1{
    font-size: 30px;
  }
}


@media (max-width:1130px){
  .transparent{
    display: none;
  }

  .informationC{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}




@media (max-width:721px){
  .title{
    text-align: center;
  }

  .bigTextCont{
    text-align: center;
  }
  .collectionCont{
    width: 100%;
    height: 100%;
    
  }
  .collection{
    text-align: center;
  }

  .concept p{
    text-align: left;
  }
}


@media (max-width:1259px){
  .gImgCont{
    width: 300px;
    height: 300px;
  }
}




@media (max-width:1091px){
  .gImgCont{
    width: 250px;
    height: 250px;
  }
}



@media (max-width:944px){
  .gImgCont{
    width: 200px;
    height: 200px;
  }
}


@media (max-width:830px){
  .grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px !important;

  }
  .gImgCont{
    width: 400px;
    height: 400px;
  }

.grid1 p span:nth-child(1){
  color: white;
  font-size: 36px !important;
  opacity: 1 !important;
}




.grid1 p span:last-child{
  color: white !important;
  opacity: 0.7;
  font-size: 24px;
}
}




@media (max-width:446px){
  .gImgCont{
    width: 100%;
    height: 100%;
border: none;
  }

.gImgCont img{
  margin-left: 0;
  margin-top: 0;
}
}

@media (max-width:888px){
  .mintInnerCont img{
    width: 100%;
    
  }

  .mintInnerCont{
    text-align: center;
  }
}








.collectionCont{
  position: relative;
}

.collectionMint{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.37);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}



.collectionCont:hover .collectionMint{
  opacity: 1;
  visibility: visible;
}


.collectionMint h3{
  font-size: 46px;
  color: white;
  letter-spacing: 4px;
  margin-bottom: 8px;
}

.collectionMint p{
  font-size: 25px;
  color: white;
}

.collectionMint a{
  font-size: 30px;
  text-decoration: none;
  color: black;
  background-color: #e97d82;
  padding: 16px 30px;
margin-top: 15px;
border-radius: 5px;
transition: 0.4s;
}

.collectionMint a:hover{
  background-color: #f3626a;

}



@media (max-width:1168px){

.navLinks a{
font-size: 17px;

}
}


@media (max-width:844px){
  .home{
    height: initial;
    padding-bottom: 250px;
    padding-top: 0;
  }

  .homeC h1{
    color: white;
    font-size: 40px;
    max-width: 800px;
    line-height: 2;
    z-index: 20px;
    letter-spacing: 4px;
    margin-left: 0;
    padding-top: 60px !important;
  
  }


}





@media (max-width:550px){
  .home{
    height: initial;
    padding-bottom: 150px;
    padding-top: 0;
  }
}

.lll{
  display: none;
}

.rrr{
  display: none;
}

.roadmap .title{
  padding-top: 60px;
}


@media (max-width:464px){
  .information .title h3{
    font-size: 45px;
    margin-bottom: 0px !important;
  }
}